@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --swiper-navigation-size: 20px;
  --swiper-theme-color: white;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.title-content-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Limit to 3 or 2 lines depending on title */
  /* -webkit-line-clamp: 3; */
  /* Default to 3 lines for content */
}

/* .texttitle { */
/* Limit title to 1 or 2 lines */
/* -webkit-line-clamp: 1;  */
/* Default to 1 line for title */
/* } */

/* If the title takes 2 lines, adjust content to take 2 lines */
/* .text-title + .title-content-container {
  -webkit-line-clamp: 2;
} */

.sticky-rightbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@font-face {
  font-family: "Aceh";
  src: local("Aceh"), url("Fonts/AcehSoft-Medium.ttf") format("truetype");
  font-weight: bold;
}

.rti--input {
  width: 100% !important;
  padding: 2px !important;
  background-color: white !important;
  color: black;
}
.rti--tag {
  color: black !important;
}
.rti--tag button {
  color: red !important;
}
.Aceh {
  font-family: "Aceh";
}

@font-face {
  font-family: "AcehLight";
  src: local("AcehLight"), url("Fonts/Aceh-Light.ttf") format("truetype");
  font-weight: bold;
}
.AcehLight {
  font-family: "AcehLight", Arial !important;
}
a {
  font-weight: 500;
  color: #ff5841;
  text-decoration: inherit;
}

body {
  font-family: "AcehLight";
  margin: 0;
  /* max-width: 100vw; */
  /* display: flex; */
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

.comment-box {
  @apply overflow-hidden;
}

.h-0 {
  height: 0;
}

.h-20 {
  height: 5rem; /* Adjust the desired height */
}

h1 {
  font-family: "Aceh";
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  font-family: "monserrat", "Helvetica Neue";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 639px) {
  .header-links {
    padding-right: 30%;
  }
  .sliderhgt {
    height: 14rem !important;
  }

  .imghgt2 {
    height: 160px !important;
    width: 126px !important;
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  padding: 10px 20px 10px 10px !important;
  color: rgba(232, 46, 14, 0.905);
  background: linear-gradient(
    to right,
    rgba(250, 228, 223, 0.75),
    rgba(219, 217, 216, 0.594)
  );
  margin-right: 30px;
  border-radius: 100%;
  box-shadow: 2px #ec5f5f3e;
  /* border: 4px solid rgba(34, 3, 3, 0.617); */
}
.swiper-button-next:after,
.swiper-button-prev:active:hover {
  background: linear-gradient(
    to right,
    rgb(250, 228, 223),
    rgba(21rgb (219, 217, 216))
  ) !important;
}
.swiper-button-prev:after {
  margin-left: 60px;
}
.hamburger {
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all 0.25s;
  position: relative;
}

.harburger-top,
.harburger-middle,
.harburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  border-radius: 10px;
  height: 2px;
  transform: translate(0px);
  transition: all 0.5s;
}
.harburger-middle {
  transform: translateY(7px);
}
.harburger-bottom {
  transform: translateY(14px);
}

.open {
  margin-top: -10px;
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .harburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .harburger-middle {
  display: none;
}
.open .harburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 6px !important;
  --swiper-pagination-bullet-height: 6px !important;
  --swiper-pagination-bullet-border-radius: 50% !important;
  --swiper-pagination-bullet-inactive-color: #ec5f5f3e !important;
  --swiper-pagination-bullet-inactive-opacity: 0.5 !important;
  --swiper-pagination-color: #ed0b0b !important;
  margin-top: 30px;
  /* Add your additional styling */
  /* ... */
}
.swiper-horizontal {
  margin-top: 20px;
}
/* Define the menu animation classes */
@keyframes menu-open {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes menu-close {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

/* Apply the menu animation classes */
.animate-menu-open {
  animation: menu-open 0.3s ease-in-out forwards;
}

.animate-menu-close {
  animation: menu-close 0.3s ease-in-out forwards;
}
.hero-main {
  background: url("/homepage/slider2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100vw;
  /* margin-left: -60px; */
  display: inline-block;
  border-bottom-right-radius: 100% 100%;
  border-bottom-left-radius: 100% 100%;

  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .rightbar-link {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    border: none;
    /* background-color: rgba(22, 28, 36, 0.8); */
    /* rgba(0, 0, 0, 0.4) */
    /* padding-left: 15%; */
    /* padding-top: 10px; */
    /* padding-bottom: 20%; */
    margin-top: 0px;
    display: flex;
    justify-items: end;
    justify-content: flex-end;
  }

  .rightbar-link-active {
    transform: translateY(0);
  }
}

.post-card {
  width: 288px !important;
}

/* @media screen and (max-width: 639px) {
  .title-content-container {
    -webkit-line-clamp: 1;
  }
} */
